<div id="header" class="container-fluid">
  <div class="row">
    <div class="col-12 header-wrapper">
      <div class="logo">
        <img src="../../assets/svg/yca-logo.svg" alt="Young Coders Academy">
      </div>
      <ul class="menu" [ngClass]="{'menu-open': menuOpen}">
        <li>Home</li>
        <li>O nas</li>
        <li>Program</li>
        <li>Kontat</li>
      </ul>
      <div class="hamburger" [ngClass]="{'hamburger-open': menuOpen}" (click)="onShowMenu()">

      </div>
    </div>
  </div>
</div>
