<div id="header" class="container-fluid">
  <div class="row">
    <div class="col-12 header-wrapper">
      <div class="logo">
        <img src="../../assets/svg/yca-logo.svg" alt="Young Coders Academy">
      </div>
      <ul class="menu" [ngClass]="{'menu-open': menuOpen}">
        <li><a (click)="triggerScrollTo('home')">Home</a></li>
        <li><a (click)="triggerScrollTo('o-nas')">O nas</a></li>
        <li><a (click)="triggerScrollTo('program')">Program</a></li>
        <li><a (click)="triggerScrollTo('kontakt')">Kontakt</a></li>
      </ul>
      <div class="hamburger" [ngClass]="{'hamburger-open': menuOpen}" (click)="onShowMenu()">

      </div>
    </div>
  </div>
</div>

