@import '../variables.scss';

#header {
    max-width: $main-width;
    text-align: right;
    margin: 0 auto;
    
    .header-wrapper {
        height: 72px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5rem;
        text-transform: lowercase;

        .logo {
            width: 10rem;
            height: 7.2rem;
            img {
                height: 100%;
                width: 100%;
                margin-top: 1rem;
            }
        }
    
        .menu {
            display: flex;
            flex-direction: row;
            list-style: none;
            margin-bottom: 0;

            li {
                padding-right: 2rem;
                padding-left: 2rem;
                line-height: 3.5rem;
                border-right: 2px solid $white-color;
            }

            li:nth-child(1) {
                border-right-color: $border-color1;
            }

            li:nth-child(2) {
                border-right-color: $border-color2;
            }

            li:nth-child(3) {
                border-right-color: $border-color3;
            }

            li:nth-child(4) {
                border-right: none;
                padding-right: 0;
            }
        }

        .hamburger {
            display: none;
            width: 3.5rem;
            height: 2rem;
            background-image: url('../../assets/svg/hamburger-white.svg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

    }
}

@media screen and (max-width: 1024px) {

    #header {
        .header-wrapper {

            .menu {
                // visibility: hidden;
                display: none;
            }
        
            .hamburger {
                cursor: pointer;
                display: block;
            }
        }
    }
}