#program {
    // background-color: darkolivegreen;
    height: 100%;
    width: 100%;
    // opacity: .4;

    .yca-illustration-program {
        background-image: url("../../assets/svg/yca-our-program-coding-kids.svg");
    }
}