<div id="program" class="container-fluid">
  <div class="row full-height responsive-cont">
    <div class="center responsive-illustration responsive">
      <div class="yca-illustration yca-illustration-program"></div>
    </div>
    <div class="center responsive-box responsive">
      <!-- <app-note-box *ngFor="let programOption of programTable" [programOption]="programOption"></app-note-box> -->
      <div class="note-box note-box-scale">
        <app-note-box [note]="previousNote"></app-note-box>
      </div>

      <div class="note-box">
        <app-note-box [note]="recentNote"></app-note-box>
        <app-note-box-nav></app-note-box-nav>
      </div>

      <div class="note-box note-box-scale">
        <app-note-box [note]="nextNote"></app-note-box>
      </div>
    </div>
  </div>
</div>
