<div
      id="main-container" 
      #maincont  
      (scroll)="scrollHandler($event)"
      (window:resize)="onResize($event)">
      
      <header class="header-wrapper">
            <app-header></app-header>
      </header>
      
      <section class="content-wrapper">
            <app-home id="home"></app-home>
            <app-about id="o-nas"></app-about>
            <app-program id="program"></app-program>
            <app-contact id="kontakt"></app-contact>
            <!-- <router-outlet></router-outlet> -->
      </section>
</div>


