#web-wrapper {
    height: 100%;
    width: 100%;
    background-image: url('../assets/svg/yca-main-background.svg');
    background-size: auto 500%;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}