/* You can add global styles to this file, and also import other style files */
@import './app/variables.scss';

* {
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

html, body {
    height: 100%;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

body {
    font-family: 'Montserrat', sans-serif; 
    color: $white-color;
    font-size: 1.2rem;
}
// help classes
.full-height {
    height: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.yca-illustration {
    height: 80%;
    width: 80%;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}

// note box - about us & programm
.note-box {
    position: relative;
    height: 52rem;
    width: 32rem;
    border-radius: 2rem;
    background: linear-gradient(135deg, #08639A 0%, #2DC5FD 80%);  
    box-shadow: 3px 3px 4px 0px rgba($black-color, .25); 
    
    app-note-box {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .note-box-head {
        position: relative;
        margin-top: 1.5rem;
        margin-left: -1rem;
        height: 10.5rem;
        width: 26rem;
        border-top-left-radius: 2rem;
        background: linear-gradient(90deg, #2DC5FD 0%, #08639A 100%);  
        //box-shadow: 3px 3px 4px 0px rgba($black-color, .25);

        h2 {
            font-size: 2rem;
            display: block;
            line-height: 3rem;
            position: relative;
            text-align: center;
        }

        h2::after {
            position: absolute;
            content: "";
            bottom: -1.6rem;
            left: 50%;
            height: .2rem;
            width: 6rem;
            transform: translate(-50%, 0%);
            background-color: $white-color;
        }
    }

    .note-box-head::before {
        position: absolute;
        content: "";
        left: 0;
        bottom: -1rem;
        width: 1rem;
        height: 1rem;
        background-image: url("src/assets/svg/corner-note-box.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        
    }

    .note-box-head::after {
        position: absolute;
        content: "";
        right: -3.5rem;
        top: 0;
        width: 0;
        height: 0;
        border-top: 5.25rem solid transparent;
        border-bottom: 5.25rem solid transparent;
        border-left: 3.5rem solid rgb(8, 99, 154);

       // box-shadow: 3px 3px 4px 0px rgba($black-color, .25);
    }

    .note-box-content {
        width: 32rem;
        height: 31.5rem;
        margin-left: 2rem;
        margin-bottom: 4rem;
        border-radius: 2rem;
        position: relative;
        border-bottom-right-radius: 0;
        background: linear-gradient(90deg, #09659C 0%, #2DC5FD 90%, #2DC5FD 100%); 
        box-shadow: 3px 3px 4px 0px rgba($black-color, .25); 
        flex-direction: column;
        p {
            font-size: 1.8rem;
            padding: 2rem;
            margin: 0;
        }
    }

    .note-box-content::after {
        width: 100%;
        height: 100%;
        position: absolute;
        content: "";
        bottom: 0;
        right: 0;
        opacity: .2;
        border-radius: 2rem;
        background-image: url("src/assets/svg/yca-logo.svg");
        background-size: 180% auto;
        background-position-x: center;
        background-position-y: -45%;
        background-repeat: no-repeat;
    }

    .note-box-nav {
        position: absolute;
        left: -4rem;
        bottom: -2.5rem;
        height: 5rem;
        width: 40rem;
        display: flex;
        justify-content: space-between;

        .note-box-nav-btn {
            height: 100%;
            width: 8rem;
            border-radius: 25rem;
            background-color: $white-color;
            cursor: pointer;
            color: $secondary-font-color;
            font-size: 1.2rem;

            .note-box-arrow {
                height: 1rem;
                width: 1.2rem;
                display: block;
                background-image: url("../src/assets/svg/yca-navigation-arrow.svg");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                margin: 0 1rem;
            }

            p {
                padding-left: 0;
                padding-right: 1rem;
                margin: 0;
            }
        }

        .note-box-nav-btn:last-child {
            .note-box-arrow {
                transform: rotate(180deg);
            }

            p {
                padding-left: 1rem;
                padding-right: 0;
            }
        }
    }
}

.note-box-scale {
    transform: scale(.3);
}